:root {
  --primary-text-color: #2e2f42;
  --title-text-color: #434455;
  --accent-color: #4d5ae5;
  --ocean-color: #404bbf;
  --primary-bg-color: #ffffff;
  --footer-color: #e7e9fc;
  --background-3section: #f4f4fd;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
}
/* div container */
.container {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1158px;
}

/* navigation */
.nav-list .nav-link :hover,
.nav-list .nav-link :focus {
  color: var(--accent-color);
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* HEADEr */
.page-header {
  border-bottom: 1px solid var(--footer-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.logo-part {
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}
.nav-link {
  font-family: "Roboto", sans-serif;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding: 24px 0;
}
/* ADRESS */
.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-link {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean-color);
}
/* HERO SECTION 1 */
.hero {
  text-align: center;
  background-color: var(--primary-text-color);
  padding-top: 188px;
  padding-bottom: 188px;
  margin-right: auto;
  margin-left: auto;
}
.hero-title {
  color: var(--primary-bg-color);
  max-width: 496px;
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  text-align: center;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-family: "Roboto" sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border-radius: 4px;
  margin-top: 0;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
}
.button:focus {
  color: #ffffff;
  background-color: #4d5ae5;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

.first-button {
  /* border: 1px solid transparent; */
  color: var(--primary-bg-color);
  background: var(--accent-color);
}
.button:hover,
.button:focus {
  background-color: var(--ocean-color);
}
/* SECTION 2 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.title-list {
  width: calc((100% - 72px) / 4);
}
.text {
  color: var(--title-text-color);
  letter-spacing: 0.02em;
}

.feature-list .text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
}
.feature-list p {
  margin-top: 0;
}

/* SECTION 3 */

.team {
  background-color: var(--background-3section);
  padding: 120px 0;
}

.feature-section {
  display: flex;
  gap: 24px;
}
.section-team {
  margin-bottom: 72px;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  line-height: 1.11;
  /* width: 162px 40px; */
}
.list-team {
  background-color: var(--primary-bg-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.name-title {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  /* display: flex;
  gap: 24px; */
}

.employee-description {
  padding: 32px 0;
}

.list-employees {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.masterpice {
  display: block;
}

/* Section 4 */
.images {
  line-height: 1.11;
  letter-spacing: 0.02em;
  padding-top: 120px;
  padding-bottom: 120px;
  /* text-transform: capitalize; */
}
/* h3 */
.name-list {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.item-team {
  width: calc((100% - 48px) / 3);
}
/* h2 */
.section-title-images {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
/* p */
.list-images {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.container-picture {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.section-picture {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

/* FOOTER */

.page-footer {
  background-color: var(--primary-text-color);
  padding: 100px 0;
}
.footer-logo .logo-part-footer {
  color: var(--background-3section);
}
/* .link-footer {
  display: inline-block;
  margin-bottom: 16px;
} */

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-paragraf {
  line-height: 1.5;
  color: var(--background-3section);
  letter-spacing: 0.02em;
  max-width: 264px;
}
